
RewriteEngine on
RewriteCond %{HTTP_HOST} ^panels\.sufitravelandtours\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.panels\.sufitravelandtours\.co\.uk$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/panels\.sufitravelandtours\.co\.uk" [R=301,L]

